extends ../layouts/main

block content
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    //
       Navigation 
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top')
            i.fa.fa-play-circle
            span.light C
            | Schuer
        //
           Collect the nav links, forms, and other content for toggling 
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            //
               Hidden li included to remove active class from about link when scrolled up past about section 
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#portfolio') Portfolio
            li
              a.page-scroll(href='#contact') Contact
        //
           /.navbar-collapse 
      //
         /.container 
    //
       Intro Header 
    header.intro
        .container(style="margin-top:25%")
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading CSchuer
              p.intro-text
                | What a cool guy
              a.btn.btn-circle.page-scroll(href='#about')
                i.fa.fa-angle-double-down.animated

    //-About Section 
    section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 Objective 
          p
            | To create, refine, and execute marketing strategies through promotional initiatives across multiple channels; including corporate communications through trade shows & events, social, print, & digital media, and direct face-to-face meetings, leading the company to capitalize on revenue opportunities and increase customer satisfaction.

    //- Download Section 
    section#portfolio.content-section.text-center
      .download-section
        .container
          .col-lg-8.col-lg-offset-2
            h2 Cool Portfolio, Bro

       //- Contact Section 
    section#contact.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 Contact CSchuer
          p
            | Hit me up on the low
          p
            a(href='mailto:feedback@startbootstrap.com') feedback@startbootstrap.com
          ul.list-inline.banner-social-buttons
            li
              a.btn.btn-default.btn-lg(href='https://twitter.com/')
                i.fa.fa-twitter.fa-fw
                span.network-name Twitter
            li
              a.btn.btn-default.btn-lg(href='https://linkedin.com')
                i.fa.fa-linkedin.fa-fw
                span.network-name Linkedin

    //
       Map Section 
    #map
    //
       Footer 
    footer
      .container.text-center
        p Copyright © CSchuer 2014
