extends ../layouts/main

block content
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation' style="max-height:90px")
      .container
        .navbar-header(style="width:20%" )
          a.navbar-brand.page-scroll(href='#page-top')
            span.light: img(src="images/Logo2-01.png" style="min-width:180px; width:30%; position:relative;")
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#portfolio') Services
            li
              a.page-scroll(href='#contact') Contact

    header.intro
        .container(style="margin-top:25%")
          .row
            .col-md-8.col-md-offset-2
              img(src="images/Logo2-01.png" style="width:90%")
              p.intro-text
                | Marketing Project Management
                br
                |by Corey M Schuerman
              a.btn.btn-circle.page-scroll(href='#about')
                i.fa.fa-hand-o-down.animated

    section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 THIS IS CSCHUER 
          p
            | Hello, My name is Corey. I began CSchuer to help companies focus their marketing efforts and achieve greater results. Based in Charleston, SC; we develop marketing initiatives, create & manage digital assets, and fulfill metrics like your return on investment. Please enjoy the site and <a href="#contact">get in touch</a> to discuss how we can work together.
            br
            br
            |Life is good by the CSchuer.

    section#portfolio.content-section.text-center
      .portfolio-section
        .container
          .col-lg-8.col-lg-offset-2
            h2 Services
          .row
            .col-md-4
              h3 Trade Shows
            .col-md-4
              h3 Print & Digital Media
            .col-md-4
              h3 Operations Management

 
    section#contact.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 Contact CSchuer
          p
            a(href='tel:+18434197759') (843) 419-7759
            br
            a(href='mailto:coreyschuerman@me.com') coreyschuerman@me.com
          ul.list-inline.banner-social-buttons
            li
              a.btn.btn-default.btn-lg(href='https://twitter.com/cschuer')
                i.fa.fa-twitter.fa-fw
                span.network-name Twitter
            li
              a.btn.btn-default.btn-lg(href='http://www.linkedin.com/in/cschuer/')
                i.fa.fa-linkedin.fa-fw
                span.network-name Linkedin

    footer
      .container.text-center
        p Copyright © CSchuer 2014
        p(style="font-size:12px") Built and designed by <a href="http://flackap.com">Andy Flack</a>
